@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Universal Styles */

html {
    font-size: 16px;
    font-family: "Merriweather Sans", "sans-serif";
    font-weight: 400;
    color: #bcd8c1;
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    font-size: 0.75rem;
}

body {
    background-color: #e3e5e9;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

a {
    text-decoration: none;
}
/* Header Styles */

header {
    position: fixed;
    z-index: 1;
    height:6rem;
    width: 100%;
    background-color: #222E50;
    border-bottom: solid 0.375rem #000000;
}

header h1 {
    margin:0;
    position: relative;
    top: 1rem;
    padding-left: 1rem;
    font-size: 3rem;
    color: #bcd8c1;
}

header h3 {
    font-size: 0.75rem;
    margin: 0;
    position: absolute;
    left: 1rem;
    top: 4.5rem;
    color: #bcd8c1;
}

/* Desktop navigation */

nav {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}
nav a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #bcd8c1;
    padding-right: 0.25rem;
}

nav span {
    padding-right: 1rem;
}

a:hover {
    color: #ffffff;
}

/* Container for main page content */
main {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 6.375rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* Main page video display */
.jumbotron {
    height: 20rem;
    background-image: url("media/images/Instruments.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: solid 0.375rem #000000;
    position: relative;
    top: 6.375rem ;
    }

/* Mobile navigation */

.mobile-nav {
    visibility: hidden;
}

#expand-button {
visibility: hidden;
}

#expand-menu {
    display: none;
}
.menu {
    visibility: collapse;
}

.menu {
    display: flex;
    position: fixed;
    top: 6.375rem;
    right: 0rem;
    padding: 0;
    margin: 0;
    height: 9rem;
    width: 7.5rem;
    background-color: #222E50; 
    align-items: center;
    justify-content: space-around; 
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#expand-button {
    padding: 0.1rem 0.29649rem 0.1rem 0.29649rem ;
    border: solid 0.125rem #bcd8c1;
    border-radius: 0.3rem;

}
#expand-menu:checked ~ .menu {
    visibility: visible;
}
#expand-menu:checked ~ #expand-button {
    color: #ffffff;
    border: solid 0.125rem #ffffff;
}

/* Card for welcome information */

.welcome {
    display: flex;
    position: relative;
    height: 18.75rem;
    width: 80%;
    background-color: #ffffff;
    border-radius: 2rem;
    margin: 2rem 2rem 5rem 2rem;
    color: #000000;
    align-items: flex-start;
    justify-content: space-around;
} 

/* .welcome h2 {
    padding-top: 2rem;
} 
.welcome p {
    position: absolute;
    top: 1%;
} */


 /* Footer */

 footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 3.25rem;
    width: 100%;
    background-color: #222E50;
    margin-top: 2rem;
}

footer i {
    color: #bcd8c1;
    margin: 0 1rem 0 1rem;
}
/* Media Queries */

@media only screen and (max-width: 400px) {
    
    header {
        text-align: left;
    }

    header h1 {
        font-size: 2rem;
        margin: 0;
        
    }
    header h3 {
        font-size: 0.6rem;
        top: 3.75rem;
    }
    .jumbotron {
        width: 100%;
     }
}

@media only screen and (max-width: 920px) {

    .mobile-nav{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 3rem;
        right: 2rem;
        height: 1.5rem;
        width: 1.5rem;

    }

    #desktop-nav {
        display: none;
    }

    #expand-button {
        visibility: visible;
    }
}

.label {
    position: absolute;
    top: 1rem;
    left: 3rem;
    color: #000000;
}

/* CSS for about.html */

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 16rem;
    width: 16rem;
    top: 6rem;
    left: 0rem;
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: hidden;
    margin: 2rem;
}

#bio {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    height: 16rem;
    width: 16rem;
    top: 6rem;
    left: 0rem;
    background-color: transparent;
    border-radius: 2rem;
    overflow: hidden; 
    margin: 0 2rem 0 2rem;
}

#bio p {
    color: #000000;
    margin: 2rem;
}