@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/* Universal style rules */

html {
    font-size: 16px;
    /* font-family: "Roboto", "sans-serif"; */
    /* font-family: "Dosis", "sans-serif"; */
    font-family: "IBM Plex Sans", "sans-serif";
    font-weight: 400;
    color: #c0d6df;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #dbe9ee;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: #4f6d7a;
   
}

h1, h2, h3 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
}

h2 {
font-size: 2rem;
}

h3 {
font-size: 0.9rem;
}

p, li {
    font-size: 1rem;
}

/* Header style rules */

header {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 12%;
    width: 100%;
    background-color: #4f6d7a;
    justify-content: space-between;
}

header a {
    padding: 0.5% 0% 0% 1.5%;
    width: auto;
    color: #c0d6df;
}

/* Desktop navigation style rules */

#desktop-nav {
    display: inline-flex;
    align-items: flex-end;
    text-align: left;
    position: relative;
}

#desktop-nav ul {
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    text-decoration: none;
    list-style: none;
    color: #c0d6df;
}

#desktop-nav a {
    display: inline-flex;
    align-items: flex-end;
    padding: 0.3rem;
    border: solid 0.1rem #c0d6df;
    background-color:#c0d6df;
    color: #4f6d7a;
    border-radius: 0.25rem;
    margin-right: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#desktop-nav a:hover {
    color: #ffffff;
    border-color: #ffffff;
}

a:hover {
    color: #ffffff;
}

/* Main content container style rule*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 12%;
    padding-bottom: 4%;
    
}

/* Main page video display style rule*/

.jumbotron {
    background-image: url("media/images/Instruments.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    }

/* Page title header */

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 12%;
    color:#4f6d7a;
    height: 2%;
    width: 100%;
    background-color: #c0d6df;
    margin-bottom: 2%;
    }

/* Mobile navigation style rules */

#mobile-nav {
display: none;
}

#expand-button {
display: none;
}

#expand-menu {
    visibility: hidden;
}
.menu {
    visibility: collapse;
}

.menu {
    display: flex;
    position: fixed;
    top: 12%;
    right: 0rem;
    padding: 0;
    margin: 0;
    height: 9rem;
    width: 7.5rem;
    background-color: #4f6d7a; 
    align-items: center;
    justify-content: space-around; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#expand-button {
    padding: 0.1rem 0.29649rem 0.1rem 0.29649rem ;
    border: solid 0.125rem #c0d6df;
    border-radius: 0.3rem;
    color:#4f6d7a;
    background-color: #c0d6df;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#expand-menu:checked ~ .menu {
   visibility: visible;
}
#expand-menu:checked ~ #expand-button {
    color: #ffffff;
    border: solid 0.125rem #ffffff;
}

/* About page style rules */

.media-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 30%;
    width: 80%;
    border: solid 0.1rem #c0d6df;
    border-radius: 0.25rem;
    margin: 2% auto;
    color: #4f6d7a;
    padding: 1%;
    background-color: #c0d6df;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: auto;
    border: solid 0.2rem #c0d6df;
    border-radius: 0.5rem;
    margin: 2% auto;
    color: #4f6d7a;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/* Contact page style rules */
.contact-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    height: 30%;
    width: 35%;
    border: solid 0.1rem #c0d6df;
    border-radius: 0.25rem;
    margin: 1% auto;
    color: #4f6d7a;
    padding: 1%;
    background-color: #c0d6df;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.contact-container i {
padding-right: 1%;
}

.contact-container:hover {
    color: #ffffff;
    border-color: #ffffff;
}
/* Resume page style rules */

.resume-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-height: 30%;
    max-width: 80%;
    border: solid 0.1rem #c0d6df;
    border-radius: 0.25rem;
    margin: 1% auto;
    color: #4f6d7a;
    padding: 5%;
    background-color: #c0d6df;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.resume-container h2 {
    margin-bottom: 4%;
}
.resume-container h3 {
    font-size: 1rem;
border-bottom: solid 0.1rem #4f6d7a;
}
.resume-container h4 {
    margin: 1% 0 0 0;
    }

.resume-container ul {
    list-style: square;
}

table {
    text-align: left;
}

.download-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    height: 30%;
    width: auto;
    border: solid 0.1rem #c0d6df;
    border-radius: 0.25rem;
    margin: 2% auto;
    color: #4f6d7a;
    padding: 1%;
    background-color: #c0d6df;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.download-container:hover {
    border-color: #ffffff;
    color: #ffffff;
}

/* Portfolio page style rules */

#expand-project {
    display:none;
}

#portfolio-button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    height: 30%;
    width: 80%;
    border: solid 0.1rem #c0d6df;
    border-radius: 0.5rem;
    margin: 2% auto 0 auto;
    color: #c0d6df;
    padding: 1.5%;
    background-color: #4f6d7a;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.portfolio-thumbnail {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    border: solid 0.2rem #c0d6df;
    border-radius: 0.5rem;
    margin: 0;
    color: #4f6d7a;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.portfolio-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 2%;
}
.portfolio-icon {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 1% 0 auto ;
}

#portfolio-button:hover {
    border-color: #ffffff;
    color: #ffffff;
}

.portfolio-content {
    visibility: collapse;
}

/* .portfolio-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto 2% auto;
    padding: 1.5%;
    width: 80%;
    height: auto;
    background-color: #c0d6df;
    color: #4f6d7a;
} */

#expand-project:checked ~ .portfolio-content {
   visibility: visible;
}
#expand-project:checked ~ #portfolio-button {
    color: #ffffff;
    border-color: #ffffff;
}
    
 /* Footer style rules*/

 footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
    background-color: #4f6d7a;
}

footer i {
    color: #c0d6df;
    margin: 0 1rem 0 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer i:hover{
color: #ffffff;
}

/* Media Queries */

@media only screen and (max-width: 400px) {
 header h1 {
    font-size: 2rem;
    margin-top: 3%;
 } 
 header h3 {
     font-size: 0.6rem;
 }  

 .media-container, #avatar-container {
    margin: 4% auto;
}

.contact-container {
    width: 60%;
    margin: 5% auto;
}

.media-container {
    margin-bottom: 15%;
}
}


@media only screen and (max-width: 920px) {

    #mobile-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: auto;
        width: auto;
        margin: 4% 4%;
        padding: 0;
    }

    #desktop-nav {
        display: none;
    }

    #expand-button {
        display: flex;
    }
}

@media only screen and (max-width: 1060px) {
    .resume-container h2 {
       font-size: 1.5rem;
    }
    .resume-container h3 {
        font-size: 0.6rem;
    border-bottom: solid 0.1rem #4f6d7a;
    }
    .resume-container h4 {
        margin: 1% 0 0 0;
        font-size: 0.5rem;
        }
    .resume-container table {
        font-size: 0.5rem;
    }

    .resume-container li {
        font-size: 0.6rem;
    }
    .resume-container ul {
        padding-left: 1rem;
    }
    .download-container h2 {
        font-size: 1rem;
    }
    .download-container {
        margin-bottom: 15%;
    }
}
