@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
/* Universal Styles */

html {
    font-size: 16px;
    /* font-family: "Roboto", "sans-serif"; */
    /* font-family: "Dosis", "sans-serif"; */
    font-family: "IBM Plex Sans", "sans-serif";
    font-weight: 400;
    color: #c0d6df;
    margin: 0;
    padding: 0;
    height: 100%;
}

p {
    font-size: 0.75rem;
}

body {
    background-color: #dbe9ee;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
/* Header Styles */

header {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 12%;
    width: 100%;
    background-color: #4f6d7a;
    justify-content: space-between;
}

header h1 {
    margin: 1% auto;
    padding: 1% auto;
    width: auto;
    font-size: 3rem;
    color: #c0d6df;
    font-weight: 400;
}

header h3 {
    font-size: 0.75rem;
    margin: 0;
    padding-left: 1%;
    color: #c0d6df;
}

/* Desktop navigation */

nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
}

nav a {
    font-size: 1.25rem;
    text-decoration: none;
    color: #c0d6df;
    padding-right: 0.25rem;
}

nav span {
    padding-right: 1rem;
}

a:hover {
    color: #ffffff;
}

/* Container for main page content */
main {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 12%;
    text-align: center;
    width: 100%;
    height: auto;
    flex-flow: column wrap;
}

/* Main page video display */
.jumbotron {
    height: 40%;
    background-image: url("media/images/Instruments.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    top: 12%;
    }

/* Mobile navigation */

.mobile-nav {
    display: none;
}

#expand-button {
visibility: hidden;
}

#expand-menu {
    display: none;
}
.menu {
    visibility: collapse;
}

.menu {
    display: flex;
    position: fixed;
    top: 15%;
    right: 0rem;
    padding: 0;
    margin: 0;
    height: 9rem;
    width: 7.5rem;
    background-color: #4f6d7a; 
    align-items: center;
    justify-content: space-around; 
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#expand-button {
    padding: 0.1rem 0.29649rem 0.1rem 0.29649rem ;
    border: solid 0.125rem #c0d6df;
    border-radius: 0.3rem;

}
#expand-menu:checked ~ .menu {
    visibility: visible;
}
#expand-menu:checked ~ #expand-button {
    color: #ffffff;
    border: solid 0.125rem #ffffff;
}

/* Container for media */

/* .media-container {
    position: relative;
    display: flex;
    justify-content: left;
    height: 10%;
    width: 100%;
    border: solid 0.375rem #c0d6df;
    border-radius: 2rem;
    margin: 10%;

} */

 /* Footer */

 footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
    background-color: #4f6d7a;
    margin-top: 2rem;
}

footer i {
    color: #c0d6df;
    margin: 0 1rem 0 1rem;
}
/* Media Queries */

@media only screen and (max-width: 400px) {
    
    header {
        text-align: left;
    }

    header h1 {
        font-size: 2rem;
        margin: 0;
        
    }
    header h3 {
        font-size: 0.6rem;
        top: 3.75rem;
    }
    .jumbotron {
        width: 100%;
     }
}

@media only screen and (max-width: 920px) {

    .mobile-nav{
        /* padding: 0;
        margin: 0;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        height: 25%;
        width: 100%; */

        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        height: auto;
        width: auto;
        margin: 4% 4%;
        padding: 0;
    }

    #desktop-nav {
        display: none;
    }

    #expand-button {
        visibility: visible;
    }
}

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 12%;
    color:#4f6d7a;
    height: 8%;
    width: 100%;
    background-color: #c0d6df;
}
.page-title h1 {
    padding: 2rem;
}

/* CSS for about.html */

.profile-container{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: auto;
margin-bottom: 4rem;
flex-flow: column wrap;
}
.avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 16rem;
    width: 16rem;
    background-color: transparent;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 4%;
    
    border: solid 0.375rem #c0d6df;
}
